$primaryFont: "Japan Ramen", sans-serif;

$gradient: linear-gradient(#ff6084 0%, #ff9c7b 100%);
$regFont: "Abhaya Libre Extrabold", sans-serif;
$abtFont: "Abhaya Libre Bold", sans-serif;
$abtusHeadFont:"The Last Shuriken",sans-serif;
$hamFooterFont: "NoyagiDemo", sans-serif;

* {-webkit-tap-highlight-color:  transparent}
@font-face {font-family:"Ibarra Real Nova";src:url("/fonts/IbarraRealNova-Regular.woff2") format("woff2");font-weight:400;font-display:swap;}
@font-face {font-family:"Averia Serif Libre";src:url("/fonts/AveriaSerifLibre-Regular.woff2") format("woff2");font-weight:400;font-display:swap;}
