.eventscontainer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  .drama {
    position: absolute;

    width: 32.6vw;

    height: 56.3vh;
    bottom: 0;
  }
  .quizzes {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 80vh;
  }
  .music {
    position: absolute;

    width: 32.8vw;
    height: 56.3vh;
    bottom: 0;
    right: 0;
  }
  .dance {
    position: absolute;
    width: 42vw;
    height: 80vh;
    top: 0;
    right: 0;

    overflow: hidden;
    transform-origin: bottom left;
    transition: transform 0.3s ease, filter 0.3s ease;
    
  }

  .dance:hover {
    transform: scale(1.1);
    filter: saturate(1.5);
  }
  

  .photography {
    position: absolute;
    left: 35vw;
    width: 30.2vw;
    height: 67.8vh;
    top: 0;

    &:hover {
      scale: 1.1;

      filter: saturate(1.5);
    }
  }
  .text {
    position: absolute;
    left: 35vw;
    width: 30.625vw;
    height: 26.74vh;
    bottom: 2vh;
  }
}
