// src/components/Events/Events.module.scss

.eventsmaincontainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  .text {
      position: absolute;
      left: 35vw;
      width: 30.625vw;
      height: 26.74vh;
      bottom: 2vh;
      
    }
  .eventscontainer {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
   mask-image: url("/svgs/events/Exclude.svg");
   mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-position: center;
  // mask-size:cover;
  mask-size:  cover;
    scale: 1.01;

//   -webkit-mask-image: url("/svgs/events/Exclude.svg");
// -webkit-mask-size: 100% 100%;
// -webkit-mask-position: bottom;
// -webkit-mask-repeat: no-repeat;


  
  
    .quizzes {
      position: absolute;
      width: 32.6vw;
      height: 52.3vh;
      left: 0;
      bottom: 0;
     transform-origin: center;
      transition: transform 0.3s ease, filter 0.3s ease;
      z-index: 1;
      &:hover {
        transform: scale(1.05);
        filter: saturate(1.5);
      }
      @media (min-width:1950px){bottom: -20px;
         padding-top:20px;
        
      }
    }

    .music {
      position: absolute;
      top: 0;
      left: 0;
      width: 42vw;
      height: 80vh;
      z-index: -5;transform-origin:center;
      transition: transform 0.3s ease, filter 0.3s ease;
      z-index: 1;
      object-fit: fill;
      object-position: center;
      &:hover {
        transform: scale(1.1);
        filter: saturate(1.5);
      }
    }

    .misc {
      position: absolute;
      width: 32.8vw;
      height: 56.3vh;
      bottom: -2vh;
      right: 0;
      z-index: -5;
      transform-origin: center;
      transition: transform 0.3s ease, filter 0.3s ease;
      z-index: 1;
      &:hover {
        transform: scale(1.07);
        filter: saturate(1.5);
      }
    
    }

    .dance {
      position: absolute;
      width: 45vw;
      height: 80vh;
      
      top: -2vh;
      right: -2vw;
      overflow: hidden;
      transform-origin: center;
     
      rotate: -3deg;
      object-position: center;
      transition: transform 0.3s ease, filter 0.3s ease;
      z-index: 1;
      &:hover {
        transform: scale(1.05);
        filter: saturate(1.5);
      }
    }

    // .photographyWrapper {
    //   // position: absolute;
    //   // left: 35vw;
    //   // width: 30.2vw;
    //   // height: 67.8vh;
    //   // top: 0;

    //   // // // Apply the clip path to the wrapper
    //   // // clip-path: url(#photography-clip);
    //   // // -webkit-clip-path: url(#photography-clip);

    //   // // Ensures any overflow from the scaling image is hidden
    //   // overflow: hidden;
    // }

    .photography {
       position: absolute;
      left: 35vw;
      width: 30.2vw;
      height: 67.8vh;
      top: 0;
      // Make the image fill its parent container
      // width: 100%;
      // height: 100%;
      // THIS IS THE KEY TO RESPONSIVENESS. It scales the image to fit the container.
      // object-fit: cover;

      // Add a transition for a smooth hover effect
      transition: transform 0.3s ease, filter 0.3s ease;
    }

    // Apply the hover effects directly to the image inside the wrapper
    .photographyWrapper:hover .photography {
      transform: scale(1.1);
      filter: saturate(1.5);
    }

    .text {
      position: absolute;
      left: 35vw;
      width: 30.625vw;
      height: 26.74vh;
      bottom: 2vh;
      
    }
  }
}
