.AboutContainer{
    /*.background{
      position: absolute;
      top:-1.2vh;
      object-position: center;
      height:102%;
      z-index: -1;
    }*/
    background: url("/svgs/aboutus/aboutback.svg"),linear-gradient(180deg, rgba(0, 0, 0, 0.6) 99.99%, rgba(0, 0, 0, 0) 100%);
    background-size:cover;
    background-blend-mode: darken;
    height: 100vh;
    
    width: 100vw;
    overflow: hidden;
    .header {
        position: absolute;
        top:3.5vh;
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        img{
            
            width: 30vw;
            height: auto;
        }
    }

 .wrapper {
  perspective: 400px;
  position: relative;
  width: 40vw;
  height: 60vh;

  .vid {
    width: 100%;
    height: 100%;
    background-color: red;
    border: 0.2vw solid #F2DD7C;
    box-shadow: 0px 0px 24px 0px #F2DD7C;
    background: #111111;

    position: absolute;
    left: 200px;
    top: 200px;
    transform: rotateY(4deg);
    transform-style: preserve-3d;

    position: relative; 
    .fan1 {
  position: absolute;
  bottom: -7vh;
  left: -5vw;
  width: 10vw;
  height: auto;
  transform-origin: bottom left; 
}

.fan2 {
  position: absolute;
  top: -7vh;
  right: -5vw;
  width: 10vw;
  
  transform: scaleX(-1)  scaleY(-1) ;       
  transform-origin: bottom left 
}
  }
}

.fan1Emitter,
.fan2Emitter {
  position: absolute;
  overflow: visible;
}



.flyingIcon {
  position: absolute;
  width: 3vw;
  height: auto;
  pointer-events: none;
}

.abt{
  
width: 31vw;
  height: 35vw;
  border: 25px solid rgba(134, 26, 38, 0.1);
  padding: 0; /* or some space */
  box-sizing: border-box; /* include border in total width/height */
  background: url("/svgs/aboutus/abt.svg"), url("/svgs/aboutus/text-frame.svg");
  background-blend-mode: color-burn;
  background-position: bottom;
  background-size: cover;
  background-clip: content-box;
  

  background-position: bottom;
  position: relative;
 left:60vw;
 top:-40vh;
 object-fit: contain;
 .lantern{
  position: absolute;
  transform-origin: bottom right;
  right: -5vw;
  top: -5vw;
 }
 .dagger1{
  position: absolute;
  left: -5vw;
  width: 10vw;
  height: auto;
  z-index: 5;
  bottom: 0;
  mix-blend-mode:overlay;
 }
}

}