@use "../../../assets/global.scss" as *;
.page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-color: rgba(00,0,0,1);
    .flyingIcon {
  position: absolute;
  pointer-events: none;
  user-select: none;
  will-change: transform, opacity;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Keep aspect ratio or adjust */
}

    .cl1{
        position: absolute;
        top:0;
        right: 0;
        width:25vw;
    }
    .cl2{
        position: absolute;
        left: 0;
        bottom: 0;
        width:25vw;
    }
    .bar1{
        position: absolute;
        transform: scaleY(-1);
        right: 2vh;
        bottom: 2vh;
        width: 25vw;
    }
    .bar2{
        position: absolute;
        left: 0;
        top: 2vh;
        left: 2vh;
        width: 25vw;
        transform: scaleX(-1);
    }
    .aboutBB {
    background-image: url("/svgs/registration/back.svg");
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.828)) sepia()
      saturate(4.5) hue-rotate(-10deg);
    transition: filter 0.3s;
    margin: 5.1rem;
    z-index: 1000;

    &:hover {
      filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 1)) sepia()
        saturate(4.5) hue-rotate(-10deg);
    }

    @media (max-width: 700px) {
      margin: 1.2rem 0.6rem;
    }
  }
  .evntcontainer{
    width: 80vw;
    height: 60vh;
    // background-color: red;
    position: relative;
    top:20vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .leftevent,.rightevent{
        width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .leftevent{
        .imagenew{
            position: absolute;
            left:5vw;
            top:10vh;
            width:20vw;
            border-style: solid;
border-width: 20px;
border-image-source: url("/images/events/image.png");
border-image-slice: 40; /* or appropriate value */

        }
        p{
            position: absolute;
            bottom: 10vh;
        }
    }
    .rightevent{
        
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
        h4{
            color:white;
            font:3vw $primaryFont;
            font-weight: 400;
            text-align: center;
        }
        p{
            
            font:1.5vw $regFont;
            font-weight: 800;
            color: #F2DD7C;
            
            text-align: center;
        }
        .controls{
            display: flex;
            position: absolute;
            right: 5vw;
            bottom: 0;
            gap:10px;
            cursor: pointer;
            .left{
                transform: scaleX(-1);
            }
            .left,.right{
                img{
                width: 4vw;
                }
            }
        }
    }
  }
}