@use "../../../assets/global.scss" as *;
.page {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-color: rgba(00, 0, 0, 1);
  .flyingIcon {
    position: absolute;
    pointer-events: none;
    user-select: none;
    will-change: transform, opacity;
    width: 40px;
    height: 40px;
  }

  .cl1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
  }
  .cl2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25vw;
  }
  .bar1 {
    position: absolute;
    transform: scaleY(-1);
    right: 2svh;
    bottom: 2svh;
    width: 25vw;
  }
  .bar2 {
    position: absolute;
    left: 0;
    top: 2svh;
    left: 2svh;
    width: 25vw;
    transform: scaleX(-1);
  }
  .aboutBB {
    background-image: url("/svgs/registration/back.svg");
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.828)) sepia()
      saturate(4.5) hue-rotate(-10deg);
    transition: filter 0.3s;
    margin: 5.1rem;
    z-index: 1000;

    &:hover {
      filter: drop-shadow(0px 0px 9px rgba(255, 255, 255, 1)) sepia()
        saturate(4.5) hue-rotate(-10deg);
    }

    @media (max-width: 700px) {
      margin: 2.2rem 1.6rem;
    }
  }
.eventdesktop{
  .eventContentWrapper {
    width: 80vw;
    height: 80svh;
    // background-color: red;
    position: relative;
    top: 10svh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    .leftevent,
    .rightevent {
      width: 30vw;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .leftevent {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        // left: 4vw;
        // top: 10svh;
        width: 30vw;
        border-style: solid;
        border-width: 20px;
        border-image-source: url("/images/events/image.png");
        border-image-slice: 40; /* or appropriate value */
      }
      p {
        position: absolute;
        bottom: 10svh;
      }
    }
    .rightevent {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      h4 {
        color: white;
        font: 3vw $primaryFont;
        font-weight: 400;
        text-align: center;
      }
      p {
        font: 1.5vw $regFont;
        font-weight: 800;
        color: #f2dd7c;

        text-align: center;
      }
      .controls {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5vw;
        bottom: 0;
        gap: 10px;
        cursor: pointer;
        .left {
          transform: scaleX(-1);
          // img {
          //   //  box-shadow: 0px 0px 12px 0px #f2dd7c;
          // }
          // .prev {
          // }
        }
        .left,
        .right {
          img {
            width: 4vw;
          }
        }
      }
    }
      
  }
  .controls {
        display: flex;
        // flex-direction: column;
        position: absolute;
        left: 65vw;
        bottom: 10vw;
        gap: 10px;
        cursor: pointer;
        .left {
          transform: scaleX(-1);
          // img {
          //   //  box-shadow: 0px 0px 12px 0px #f2dd7c;
          // }
          // .prev {
          // }
        }
        .left,
        .right {
          img {
            width: 4vw;
          }
        }
      }
}
}
.page {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%) rotateZ(180deg);
  width: 100vw;
  height: 100svh;
  background-size: cover;
  z-index: 1001;
  transform-origin: center bottom;
  animation: rotateInFromBottom 1s linear forwards;
  animation-delay: 0s;
}

@keyframes rotateInFromBottom {
  0% {
    transform: translateY(100%) rotateZ(180deg);
    // opacity: 0;
  }
  40% {
    transform: translateY(80%) rotateZ(135deg);
    // opacity: 0.5;
  }
  70% {
    transform: translateY(50%) rotateZ(70deg);
    // opacity: 0.7;
  }
  100% {
    transform: translateY(0%) rotateZ(0deg);
    // opacity: 1;
  }
}


@media ((max-width: 1200px) and (max-aspect-ratio: 1.45)) {
  .page {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%) rotateZ(180deg);
    // width: 100vw;
    // height: 100svh;
    background-size: cover;
    z-index: 1001;
    transform-origin: center bottom;
    animation: rotateInFromBottom 0.8s linear forwards;
    animation-delay: 0.1s;
  }

  @keyframes rotateInFromBottom {
    0% {
      transform: translateX(-100%) rotateZ(180deg);
      // opacity: 0;
    }
    40% {
      transform: translateX(-80%) rotateZ(135deg);
      // opacity: 0.5;
    }
    70% {
      transform: translateX(-50%) rotateZ(70deg);
      // opacity: 0.7;
    }
    100% {
      transform: translateX(-0%) rotateZ(0deg);
      // opacity: 1;
    }
  }
  .evntcontainer {
    margin: 10svh 10vw;
    width: 80vw;
    height: 80svh;
    overflow: hidden;
    .mobileEvents {
      overflow: hidden;

      .mobileCard {
        width: 80vw;
        // background-color: red;
        height: 80svh;
        h4,
        p {
          text-align: center;
        }
        h4 {
          color: white;
          font: 10vw $primaryFont;
          font-weight: 400;
          text-align: center;
        }
        p {
          font: 5vw $regFont;
          font-weight: 800;
          color: #f2dd7c;

          text-align: center;
        }
        .mobileImage {
          width: 70vw;
          border-style: solid;
          border-width: 5vw;
          border-image-source: url("/images/events/image.png");
          border-image-slice: 40;

          margin: 3vw 5vw;
        }
        .eventdesc {
          margin: 3vw 5vw;
          p {
            text-align: center;
            font-size: 4vw;
          }
        }
        .controls2 {
          display: flex;
          position: absolute;
          
              position: absolute;
              bottom:6vh;
          margin: 0vw 22.5vw;
          gap: 5vw;
          cursor: pointer;
          .left2 {
            transform: scaleX(-1);
            // img {
            //   //  box-shadow: 0px 0px 12px 0px #f2dd7c;
            // }
            // .prev {
            // }
          }
          .left2,
          .right2 {
            img {
              width: 15vw;
            }
          }
        }
      }
    }
  }
}

@media ((max-width: 1200px) and (min-aspect-ratio: 0.65)) {
  .page {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%) rotateZ(180deg);
    // width: 100vw;
    // height: 100svh;
    background-size: cover;
    z-index: 1001;
    transform-origin: center bottom;
    animation: rotateInFromBottom 0.8s linear forwards;
    animation-delay: 0.1s;
  }

  @keyframes rotateInFromBottom {
    0% {
      transform: translateX(-100%) rotateZ(180deg);
      // opacity: 0;
    }
    40% {
      transform: translateX(-80%) rotateZ(135deg);
      // opacity: 0.5;
    }
    70% {
      transform: translateX(-50%) rotateZ(70deg);
      // opacity: 0.7;
    }
    100% {
      transform: translateX(-0%) rotateZ(0deg);
      // opacity: 1;
    }
  }
  .evntcontainer {
    margin: 10svh 10vw;
    width: 80vw;
    height: 80svh;
    overflow: hidden;
    .mobileEvents {
      overflow: hidden;

      .mobileCard {
        width: 80vw;
        // background-color: red;
        height: 80svh;
        display: flex;
        align-items: center;
        flex-direction: column;
        h4,
        p {
          text-align: center;
        }
        h4 {
          color: white;
          font: clamp(30px,10vw,50px) $primaryFont;
          font-weight: 400;
          text-align: center;
        }
        p {
          font: clamp(10px,5vw,20px) $regFont;
          font-weight: 800;
          color: #f2dd7c;

          text-align: center;
        }
        .mobileImage {
           width: 40vw;
          
          border-style: solid;
          border-width: clamp(20px,1vw,40px);
          border-image-source: url("/images/events/image.png");
          border-image-slice: 40;
      
          // translate: -50%;
           margin: 3vw 20vw;
        }
        .eventdesc {
          margin: 1vw 0vw;
          p {
            text-align: center;
            font-size: 2.75vw;
          }
        }
        .controls2 {
          display: flex;
          // position: absolute;
           position: static;
           
              position: absolute;
              bottom:10vh;
          margin: 0vw 22.5vw;
          gap: 5vw;
          cursor: pointer;
          .left2 {
            transform: scaleX(-1);
            // img {
            //   //  box-shadow: 0px 0px 12px 0px #f2dd7c;
            // }
            // .prev {
            // }
          }
          .left2,
          .right2 {
            img {
              width: 15vw;
              width:clamp(20px,15vw,80px);
             
            }
          }
        }
      }
    }
  }
}